<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:runtime.properties"/>

    <context:annotation-config/>

    <bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
        <property name="environment">
            <props>
                <prop key="java.naming.factory.initial">
                    weblogic.jndi.WLInitialContextFactory
                </prop>
                <prop key="java.naming.provider.url">t3://localhost:7001</prop>
            </props>
        </property>
    </bean>

    <bean id="queueConnectionFactory"
          class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate">
            <ref bean="jndiTemplate"/>
        </property>
        <property name="jndiName" value="${jms.connection.factory}"/>
    </bean>

    <bean id="jmsDestinationResolver"
          class="org.springframework.jms.support.destination.JndiDestinationResolver">
        <property name="jndiTemplate">
            <ref bean="jndiTemplate"/>
        </property>
        <property name="cache">
            <value>true</value>
        </property>
    </bean>

    <bean id="invoiceQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <ref bean="queueConnectionFactory"/>
        </property>
        <property name="destinationResolver">
            <ref bean="jmsDestinationResolver"/>
        </property>
    </bean>

    <bean id="mailTaskQ" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate">
            <ref bean="jndiTemplate"/>
        </property>
        <property name="jndiName" value="${jms.q}"/>
    </bean>

    <bean id="mailTaskQListener" class="ua.its.slot7.camailer.MQListener"/>

    <bean id="invoicelistener" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="concurrentConsumers" value="5"/>
        <property name="connectionFactory" ref="queueConnectionFactory"/>
        <property name="destination" ref="mailTaskQ"/>
        <property name="messageListener" ref="mailTaskQListener"/>
    </bean>

    <bean id="emailSession" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="${email.session}"/>
    </bean>

    <bean id="emailSender" class="ua.its.slot7.camailer.EMailSender">
        <property name="session" ref="emailSession"/>
    </bean>

</beans>