<p>We look forward to serving you.<br/>
    <strong>Cheers</strong>,<br/>
    <a href='http://ca.7levellabs.com' target='_blank' style='font-weight: normal;'>Cloud Accounting</a> Team<br/>
    <a href='mailto:ca@7levellabs.com'><strong>ca@7levellabs.com</strong></a><br/>
    <a href='http://7levellabs.com:7001/CAccounting/about.xhtml' target='_blank'>About Cloud Accounting</a> | <a
            href='http://7levellabs.com:7001/CAccounting/api-docs.xhtml' target='_blank'>API Docs</a> | <a
            href='http://7levellabs.com:7001/CAccounting/terms-of-service.xhtml' target='_blank'>Terms of Service</a> |
    <a href='http://7levellabs.com:7001/CAccounting/privacy-policy.xhtml'>Privacy policy</a></p>